<div class="change-padding" style="margin-top:30px">
    <div class="row">
        <%= render "links/links" %>
        <div class="col-md-9 bg-white">
            <h3>User</h3>
        </div>
    </div>
</div>