
        <div class="col-md-3">
            <div class="list-group">
                <%= link_to "Dashboard", dashboard_admin_index_path, :class => "list-group-item list-group-item-action active" %>
                <%= link_to "Users", users_admin_index_path, :class => "list-group-item list-group-item-action" %>
                <%= link_to "Logout", logout_admin_index_path, :class => "list-group-item list-group-item-action" %>
            </div>
        </div>