:root{
    --theme-color: #2c3e50;
}

body, html{
    margin: 0;
    padding: 0;
    background: #d8d8d8;
}

body.no-grey-bg, html.no-grey-bg{
    background: none;
}

*{
    font-family: 'Ubuntu', sans-serif;
}

nav{
    height: 80px;
    width: 100%;
    background: #2c3e50;
    padding: 20px 3%;
    box-sizing: border-box;
    display: flex;
}

nav .left{
    width: auto;
    height: 50px;
}

.left a{
    color: #fff;
    text-decoration: none;
    font-size: 30px;
}

nav .right{
    width: auto;
    height: 50px;
    margin-left: auto;
}

.right a{
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    display: block;
    display: inline;
}

.right a{
    margin-right: 50px;
}

.right a:last-child{
    margin-right: 0;
}

section.hero{
    height: 400px;
    width: 100%;
    margin-top: 30px;
}

section.hero .img-container{
    height: 350px;
    width: 350px;
    margin: 0 auto;
    justify-content: center;
    background: #fff;
    border-radius: 50%;
}

.img-container img.rounded{
    height: 200px;
    width: 200px;
    display: block;
    padding-top: 50px;
    margin: auto;
}

section.hero .title{
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

section.login{
    margin: 40px auto;
    height: auto;
    width: 400px;
    background: #fff;
    border-radius: 2px;
    padding: 10px 2%;
    box-sizing: border-box;
}

section.login.turn-up{
    height: auto;
}

section.login .user-pic{
    height: 70px;
    width: 70px;
    margin: 10px auto;
    border-radius: 50%;
    background-image: url("user.png");
    background-size: contain;
}

form.login-form{
    height: auto;
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
}

form.login-form input[type=email]{
    margin-top: 30px;
}

form.login-form input.form-control, form.login-form textarea.form-control{
    width: 100%;
    height: 50px;
    padding: 8px 2%;
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    outline: none;
    border: 0px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
    background: none;
}

form.login-form textarea.form-control{
    height: 100px;
}

.form-header{
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    font-size: 18px;
}

form.login-form input[type=submit]:not(.add-not){
    width: 100%;
    height: 50px;
    padding: 4px 3%;
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    outline: none;
    margin-bottom: 25px;
    background: #2c3e50;
    border: none;
    color: #fff;
    cursor: pointer;
}

form.login-form input[type=submit]:not(.add-not):hover{
    background: #fff;
    transition: .2s ease-in-out;
    color: #2c3e50;
    font-weight: bold;
    border: 1px solid #2c3e50;
}

.list-group-item.active{
    background: #2c3e50;
    border: none;
}

.change-padding{
    width: 100%;
    padding: 10px 3%;
    box-sizing: border-box;
    margin: 0 auto;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 2px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2c3e50; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #2c3e50; 
  }

  .col-md-9.bg-white{
      background: #fff;
  }

  .col-md-9.no-bg{
      background: none;
  }

  .col-md-9.right-part{
      padding: 20px 2%;
      box-sizing: border-box;
  }

  .profile-column{
      height: auto;
      width: 100%;
  }

  .profile-column .user-pic{
    height: 150px;
    width: 150px;
    margin: 10px auto;
    border-radius: 50%;
    background-image: url("user.png");
    background-size: contain;
  }

  .profile-column .user-pic.project-pic{
    background-image: url("layers.png");
    margin: 10px 0;
  }

  .alert{
      font-size: 12px;
      margin-bottom: 10px;
  }

.pagy-nav.pagination{
    background: none;
}

.col-md-3.add-card{
    background: #fff;
    height: auto;
    border-radius: 5px;
    padding: 15px 0;
    padding-top: 5px;
    box-sizing: border-box;
    max-width: 24%;
    margin-right: 1%;
    margin-bottom: 20px;
    position: relative;
}

.first-letter{
    text-transform: uppercase;
    text-align: center;
    height: auto;
    width: 70px;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    background: #68428a;
    padding: 5px 0;
    box-sizing: border-box;
    border-radius: 50%;
    color: #fff;
}

.text-center.project-text{
    margin-top: 10px;
}

a.all-center{
    display: inline-flexbox;
}

.col-md-3.col-md-3.add-card .three-circles{
    position: absolute;
    height: auto;
    width: auto;
    display: flexbox;
    left: 80%;
    cursor: pointer;
}

.three-circles div{
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 1px solid #2c3e50;
    /* margin-right: 1px; */
    display: inline-block;
}

.kite{
    height: 8.7px;
    width: 8.7px;
    transform: rotate(45deg);
    background: #d8d8d8;
    position: absolute;
    margin-top: 20px;
    left: 85%;
    display: none;
}

.kite.comment-kite{
    /* display: block; */
    left: 79%;
}

.action-links.comment-action-links{
    /* display: block; */
    width: 8%;
    padding: 5px 7px;
    margin-top: 24px;
    left: 73%;
}

.action-links{
    height: auto;
    width: 37%;
    background: #d8d8d8;
    position: absolute;
    margin-top: 25px;
    left: 56%;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    display: none;
}

.action-links .action-link{
    font-size: 10px;
    display: block;
    height: 20px;
    width: 100%;
    font-weight: bold;
    text-decoration: none;
    color: #2c3e50;
    margin-bottom: 5px;
}

.action-links .action-link:last-child{
    margin-bottom: 0;
}

.custom-control{
    margin-right: 20px;
    display: inline-block;
}

.container{
    margin-left: 4%;
    margin-right: 4%;
}

.header{
    font-size: 25px;
    margin-bottom: 20px;
    color: var(--theme-color);
}

.header.stay-top{
    position: fixed;
    width: 20%;
}

i.fa.fa-style-added{
    height: 30px;
    width: 30px;
    background: var(--theme-color);
    color: #fff;
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
    border-radius: 50%;
}

i.fa.thread-img{
    height: 50px;
    width: 50px;
    background: #c7c7c7;
    color: #fff;
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
    border-radius: 50%;
    font-size: 32px;
}

ul.action-list{
    height: 200px;
    width: 20%;
    list-style-type: none;
    position: fixed;
    margin-top: 50px;
    padding: 0;
}

ul.action-list li{
    height: 50px;
    width: 100%;
    cursor: pointer;
    padding: 10px 5px;
    box-sizing: border-box;
}

ul.action-list li:hover{
    background: var(--theme-color);
    transition: .2s ease-in-out;
    border-radius: 4px;
}

ul.action-list li:hover a.action-link{
    color: #fff;
}

ul.action-list li:hover a.action-link i.fa{
    background: #fff;
    color: var(--theme-color);
}

ul.action-list li a.action-link{
    color: var(--theme-color);
    text-decoration: none;
    display: block;
    height: inherit;
    width: 100%;
}

.padded-top{
    padding-top: 30px;
    box-sizing: border-box;
}

.left-side{
    height: inherit;
    border-right: 1px solid #dbdbdb;
}

.thread-container{
    height: auto;
    width: 100%;
}

.thread-container .thread{
    height: auto;
    width: 100%;
}

.middle-container{
    border-right: 1px solid #dbdbdb;
}

.thread-row{
    border-top: 1px solid #dbdbdb;
    padding: 10px 0;
    box-sizing: border-box;
    /* cursor: pointer; */
}

.thread-row:hover{
    background: #fafafa;
}

.thread:last-child{
    border-bottom: 1px solid #dbdbdb;
}

.thread-container .thread a.thread-link{
    text-decoration: none;
    color: black;
}

.white-bg-container{
    background-color: #fff;
    height: auto;
    margin: 20px auto;
    padding: 30px 2%;
    width: 70%;
    box-sizing: border-box;
    border-radius: 5px;
}

.white-bg-container .comment-row{
    height: auto;
    width: 100%;
    display: flex;
    margin-top: 30px;
}

.comment-row .left{
    width: 50px;
    margin-right: 20px;
}

.left .user-img{
    background: #b05638;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    box-sizing: border-box;
    font-size: 23px;
    margin-top: 10px;
}

.comment-row .right{
    width: calc(100% - 100px);
    background: #faf8f7;
    padding: 10px 1%;
    box-sizing: border-box;
    height: auto;
}

.right .message{
    margin-top: 15px;
}

.right .top-items{
    height: 20px;
    display: flex;
}

.right .top-items .bolden-words{
    font-weight: 600;
}

.right .top-items .three-circles{
    margin-left: 10px;
    display: flex;
    padding-top: 8px;
    box-sizing: border-box;
    cursor: pointer;
    height: 10px;
    width: auto;
}

.three-circles .circle{
    height: 5px;
    width: 5px;
    background: #2c3e50;
    margin-left: 2px;
}

.top-items .date{
    margin-left: auto;
    color: #a3a3a3;
    font-size: 14px;
}

.message-form{
    margin-top: 40px;
}